.App {
  text-align: center;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-image: url('feedback-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#header {
  background-color: #a2c6ff;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

