#next-button {
    background-color: #3C474B;
    color: white;
    margin-top: 125px;
    margin-left: 450px;
    font-family: 'Raleway', sans-serif;
}

.feeling-form {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.page-count {
    margin-bottom: 65px;
}

.radio {
    color: white;
}